// Variables
// should
// go
// here
// if
// need
// be.

::placeholder {
  opacity: 1 !important;
  color: GrayText !important;
}

.browser-toolbox-background {
  appearance: auto !important;

  #PersonalToolbar {
    appearance: auto !important;
  }
}