#customization-container {
  margin: 2px !important;
  margin-top: 0 !important;
}

#configuration_toolbar {
  margin-inline: 2px !important;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E5EAF5 50%, #CFD7EB 50%, #E9ECFA 100%) !important;
  border-bottom: 1px solid #B6BCCC !important;
}

#wrapper-back-button,
#wrapper-forward-button,
#wrapper-urlbar-container
{
  opacity: 1 !important;
}

#wrapper-history-panelmenu
{
  margin-left: -7px !important;
  margin-right: 7px !important;
}

#wrapper-history-panelmenu > #history-panelmenu > .toolbarbutton-icon
{
  background-position-y: -87px !important;
}

#search-container, #wrapper-search-container {
  flex: unset !important;
}

#wrapper-alltabs-button {
  order: -1 !important;
  opacity: 1 !important;
}

#TabsToolbar #wrapper-tiptab_william_wong-browser-action {
  order: -2 !important;
}

#TabsToolbar #wrapper-bookmarks-menu-button {
  order: -3 !important;
}

#TabsToolbar #wrapper-library-button {
  order: -4 !important;
}