/*
  Misc Tweaks
*/

/* Inset Border on the browser container */

.browserContainer 
{
  padding: 2px !important;
  box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow, inset -2px -2px 0 ThreeDFace, inset 2px 2px 0 ThreeDDarkShadow !important;
}

:root[inFullscreen] .browserContainer
{
  padding: 0 !important;
  box-shadow: none !important;
}

toolbar .toolbaritem-combined-buttons {
  margin-inline: 0 !important;
}

/* Style Toolbar Separators */

toolbarseparator {
  appearance: none !important;
  border-left: 1px solid ThreeDShadow !important;
  border-right: 1px solid ThreeDHighlight !important;
  margin: 2px !important;
}

/* Style Panels */
/* Site information Panel */

.panel-header {
  padding: 14px 18px !important;
  justify-content: flex-start !important;
}

.panel-header > h1 {
  font-size: 11pt !important;
  color: #4465A2 !important;
	font-weight: 500 !important;
  flex: unset !important;
}

.panel-header + toolbarseparator {
  display: none !important;
}

#identity-popup-mainView-panel-header::before,
#identity-popup-securityView .panel-header::before,
#unified-extensions-view .panel-header::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  min-width: 32px !important;
  background-image: url('images/web_identity.png');
  margin-inline-end: 7px !important;
}

#unified-extensions-view .panel-header::before {
  background-image: url('images/addons-32.png');
}

#identity-popup-clear-sitedata-footer,
#identity-popup-more-info-footer,
#unified-extensions-manage-extensions {
  margin-bottom: 0 !important;
  border-top: 1px solid #E3E3E3 !important;
  box-shadow: inset 0 1px 0 #F9F9F9 !important;
  background-color: #F0F0F0 !important;
  padding-block: 9px !important;
  padding-block-end: 10px !important;
}

#identity-popup-clear-sitedata-footer toolbarbutton, #identity-popup-security-button,
#identity-popup-more-info-footer toolbarbutton {
  margin: 0 !important;
  background-color: transparent !important;
  min-height: unset !important;
  color: darkblue !important;
}

#unified-extensions-manage-extensions {
  margin: 0 !important;
  min-height: unset !important;
  color: darkblue !important;
}

#identity-popup-clear-sitedata-footer:hover,
#identity-popup-security-button:hover,
#identity-popup-more-info-footer:hover,
#unified-extensions-manage-extensions:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

#identity-popup-clear-sitedata-footer toolbarbutton .toolbarbutton-text,
#identity-popup-more-info-footer toolbarbutton .toolbarbutton-text,
#unified-extensions-manage-extensions .toolbarbutton-text {
  text-align: center !important;
}

#identity-popup-clear-sitedata-footer toolbarseparator,
#identity-popup-security-button::after,
#identity-popup-more-info-footer toolbarseparator,
#identity-popup-securityView .subviewbutton-back,
#unified-extensions-view toolbarseparator,
.unified-extensions-item-message-deck,
#unified-extensions-area toolbarbutton::after,
#unified-extensions-area .toolbarbutton-text {
  display: none !important;
}

#identity-popup-mainView[footerVisible="true"] > .panel-subview-body {
  padding: 17px 20px !important;
  padding-top: 4px !important;
}

#identity-popup-securityView {
  color: #3B3B3B !important;
}

.identity-popup-section {
  margin-inline: 0 !important;
  padding-inline: 20px !important;
}

#identity-popup-securityView-extended-info {
  margin-bottom: 5px !important;
}

.panel-header:not(.panel-header-with-info-button) > .subviewbutton-back + h1 {
  margin-inline-end: 0 !important;
}

#suggestedsites_bruni_com-BAP {
  padding: 0 4px !important;
  color: GrayText !important;
}

#suggestedsites_bruni_com-BAP .toolbarbutton-icon {
  list-style-image: url('images/ie_page.png') !important;
}

#suggestedsites_bruni_com-BAP .toolbarbutton-text {
  display: flex !important;
  background-color: transparent !important;
}

#unified-extensions-area {
  padding-bottom: 5px !important;
}

#unified-extensions-area toolbaritem {
  margin: 0 10px 0 10px !important;
}

#unified-extensions-area toolbarbutton {
  appearance: toolbarbutton !important;
  background-color: transparent !important;
  padding: 4px 5px !important;
}

#unified-extensions-area toolbarbutton {
  height: 100% !important;
  color: revert !important;
}

.unified-extensions-item .webextension-browser-action.subviewbutton > .toolbarbutton-badge-stack {
  margin-inline-end: 2px !important;
}

.unified-extensions-item-menu-button.subviewbutton {
  list-style-image: url('images/settings.png') !important;
}

/* Native Bookmark Folder menupopups */
toolbarbutton menupopup[placespopup] {
  --panel-shadow-margin: 0 !important;
  --panel-background: transparent !important;
  --panel-color: unset !important;
  --panel-border-color: transparent !important;
  --panel-border-radius: 0 !important;
  --panel-padding: 0 !important;
  appearance: auto !important;
  -moz-default-appearance: menupopup !important;
}

/* Sidebar Ui */
#sidebar-box[positionend="true"] {
  min-width: 290px !important;
  height: calc(100% - 75px - 62px) !important;
  position: fixed !important;
  left: 2px !important;
  top: 62px !important;
  z-index: 1 !important;
  border: 1px solid #A0A0A0 !important;
}

#sidebar-box {
  background-color: #E4EDF9 !important;
}

#sidebar-header {
  font-size: unset !important;
  padding: 6px 5px !important;
  border: 0 !important;
}

#sidebar-switcher-target {
  appearance: auto !important;
  max-height: 24px !important;
}

#sidebar-box > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  margin-left: 1px !important;
  opacity: 1 !important;
}

#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url('images/favorites.png') !important;
}

#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url('images/history-icon.png') !important;
}

#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url('images/tabs.png') !important;
}

#sidebar-title {
  padding-left: 3px !important;
  padding-right: 5px !important;
}

#sidebar-switcher-arrow {
  width: 5px !important;
  height: 3px !important;
  list-style-image: url('images/chevron.png') !important;
  margin-top: 1px !important;
  margin-right: 2px !important;
}

#sidebar-box[positionend="true"] #sidebar-close {
  width: 17px !important;
  height: 17px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  list-style-image: url('images/sidebaricon.png') !important;
  transition: transform .3s steps(5);
}

#sidebar-box[positionend="true"] #sidebar-close:active {
  transform: translate(1px, 1px) !important;
}

#sidebar-search-container,
#sidebar-box[positionend] + .sidebar-splitter {
  display: none !important;
}

.sidebar-placesTree {
  appearance: auto !important;
  -moz-default-appearance: listbox !important;
  margin-inline: 5px !important;
  margin-bottom: 6px !important;
}

@media (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-windows-glass), (-moz-windows-default-theme) {
  @media not (-moz-windows-classic: 1) {
    #sidebar-switcher-arrow {
      width: 7px !important;
      height: 4px !important;
      list-style-image: url('images/chevron-vista.png') !important;
    }
  }
}

/* Popup Blocker */
#tab-notification-deck {
  margin-inline: 2px !important;
}

notification-message {
  transition: none !important;
}

notification-message[message-bar-type="infobar"] {
  margin: 0 !important;
}

notification-message[style="margin-top: -23px; opacity: 0;"] {
  margin-top: -23px !important;
}

.container.infobar {
  min-height: 23px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-inline: 4px !important;
  background-color: #FFFFE1 !important;
  align-items: center !important;
}

.container.infobar:hover {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.container.infobar::before {
  display: none !important;
}

.infobar > .icon {
  margin: 0 !important;
}

.notification-content {
  margin-inline-start: 4px !important;
}

.notification-message {
  vertical-align: unset !important;
  padding-block: 0 !important;
}

.notification-close {
  width: 22px !important;
  height: 22px !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  background-image: url('images/close.png') !important;
  background-size: 8px 8px !important;
  transform: translateY(-1px) !important;
}

.notification-close:active {
  transform: translate(1px, 0px) !important;
}

.notification-button {
  opacity: 0 !important;
  width: calc(100% - 4px) !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  position: absolute !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

/* Fake "Native" Titlebar */

@media (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-windows-glass), (-moz-windows-default-theme) {
  @media not (-moz-windows-classic: 1) {
    @media not (-moz-windows-compositor: 0) {
      .titlebar-spacer
      {
        display: none !important;
      }

      :root[tabsintitlebar] #titlebar
      {
        appearance: none !important;
      }

      :root[tabsintitlebar] #nav-bar
      {
        padding-left: 2px !important;
        padding-right: 2px !important;
        padding-top: calc(var(--titlebar-height) + 10px) !important;
      }
      :root[tabsintitlebar]  #titlebar::after {
        height: calc(100% - var(--titlebar-height) - 41px) !important;
        top: calc(var(--titlebar-height) + 39px) !important;
      }
      #TabsToolbar > .titlebar-buttonbox-container {
        right: 0 !important;
        top: 0 !important;
        position: fixed !important;
      }
      :root .titlebar-buttonbox {
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
      }
    } 
  }
}

@media (-moz-platform: windows-win8), (-moz-windows-glass), (-moz-windows-default-theme) {
  @media not (-moz-windows-classic: 1) {
    @media not (-moz-windows-compositor: 0) {
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar]) #nav-bar
      {
        padding-left: 2px !important;
        padding-right: 2px !important;
        padding-top: calc(var(--titlebar-height) + 10px) !important;
      }
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar], [sizemode="maximized"]) #nav-bar {
        padding-top: 3px !important;
      }
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar], [sizemode="fullscreen"], [sizemode="maximized"]) .titlebar-buttonbox-container,
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar], [sizemode="fullscreen"], [sizemode="maximized"]) .titlebar-buttonbox {
        top: calc(var(--titlebar-height) * -1 + 2px) !important;
      }
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar]) .titlebar-buttonbox-container,
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar]) .titlebar-buttonbox {
        display: flex !important;
      }
      :root[tabsintitlebar][sizemode="maximized"] #nav-bar,
      :root[chromemargin="2,2,2,2"][sizemode="maximized"] #nav-bar {
        padding-right: 0 !important;
        padding-top: calc(var(--titlebar-height) + 14px) !important;
      }
      :root[chromemargin="2,2,2,2"][sizemode="maximized"] #titlebar::after {
        height: calc(100% - 64px) !important;
        top: 62px !important;
      }
      :root[chromemargin="2,2,2,2"]:not([tabsintitlebar], [sizemode="maximized"]) #titlebar::after {
        height: calc(100% - 34px) !important;
        top: 32px !important;
      }
    }
  }
}