/* ::::: Internet Explorer 7 ::::: */
:root {
  appearance: auto !important;
  -moz-default-appearance: -moz-win-glass !important;
}
:root #browser {
  appearance: auto !important;
  -moz-default-appearance: -moz-win-exclude-glass !important;
  background-color: -moz-Dialog !important;
}
:root #browser #tabbrowser-tabbox {
  appearance: none !important;
}
:root #navigator-toolbox {
  border-bottom: 0 !important;
}
:root #customization-container {
  appearance: auto !important;
  -moz-default-appearance: -moz-win-exclude-glass !important;
  background-color: -moz-Dialog !important;
}

#nav-bar {
  border: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-block-end: 2px !important;
}

#back-button {
  padding: 0 !important;
  opacity: 1 !important;
  width: 29px !important;
  height: 29px !important;
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_background.png") !important;
  background-position-x: -76px !important;
  list-style-image: none !important;
  margin-inline-start: 2px !important;
}
#back-button .toolbarbutton-icon {
  width: 27px !important;
  height: 100% !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

#forward-button {
  height: 29px !important;
  opacity: 1 !important;
  padding: 0 !important;
  align-items: stretch !important;
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_background.png") !important;
  background-position-x: -105px !important;
}
#forward-button[disabled=true] {
  background-position-x: -29px !important;
}
#forward-button:not([disabled=true])[dropdown-hover=true] {
  background-position-x: -181px !important;
}
#forward-button:not([disabled=true])[open=true] {
  background-position-x: -257px !important;
}
#forward-button #forward-button-toolbarbutton {
  appearance: none !important;
  opacity: 1 !important;
  padding: 0 !important;
  min-width: 29px !important;
}
#forward-button #forward-button-toolbarbutton .toolbarbutton-icon {
  width: 27px !important;
  height: 100% !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  list-style-image: none !important;
  background-position-x: -27px !important;
}
#forward-button .toolbarbutton-menu-dropdown {
  appearance: none !important;
  list-style-image: none !important;
  min-width: 18px !important;
}
#forward-button .toolbarbutton-menu-dropdown .toolbarbutton-icon {
  padding: 0 !important;
}

#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon {
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_enabled.png") !important;
}
#back-button[disabled=true] .toolbarbutton-icon,
#forward-button[disabled=true] .toolbarbutton-icon {
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_disabled.png") !important;
}
#back-button:not([disabled=true], [dropdown-hover=true]):hover .toolbarbutton-icon,
#forward-button:not([disabled=true], [dropdown-hover=true]):hover .toolbarbutton-icon {
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_hot.png") !important;
}
#back-button:not([disabled=true], [dropdown-hover=true]):hover:active .toolbarbutton-icon,
#forward-button:not([disabled=true], [dropdown-hover=true]):hover:active .toolbarbutton-icon {
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/travel_pressed.png") !important;
}

:root {
  --urlbar-root-height: 26px !important;
  --urlbar-min-height: var(--urlbar-root-height) !important;
}
:root #urlbar-container {
  --urlbar-container-height: var(--urlbar-root-height) !important;
  padding: 0 !important;
  min-height: var(--urlbar-root-height) !important;
}
:root #urlbar-container #urlbar {
  --urlbar-height: var(--urlbar-root-height) !important;
  min-height: var(--urlbar-root-height) !important;
}

#TabsToolbar {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E8F4 50%, #CFD7EB 50%, #E9ECFA 100%) !important;
}

:root {
  --tab-min-height: 30px !important;
  --tabstrip-min-height: var(--tab-min-height) !important;
  --tab-inline-padding: 4px !important;
  --tab-icon-end-margin: 4px !important;
}

#TabsToolbar {
  box-shadow: inset 0 -1px 0 #EDF3FE, inset 0 -2px 0 #8B919F !important;
  border-block-end: 2px solid #B7C8F6 !important;
  padding: 0 !important;
}
#TabsToolbar #tabbrowser-arrowscrollbox {
  padding-block-start: 2px !important;
  padding-inline: 2px !important;
}

.tabbrowser-tab {
  height: var(--tab-min-height) !important;
  min-height: var(--tab-min-height) !important;
  padding: 0 !important;
}
.tabbrowser-tab .tab-background {
  height: auto !important;
  min-height: 0 !important;
  border-radius: 0 !important;
  margin-block: 0 !important;
  outline: 0 !important;
  background-image: linear-gradient(to bottom, #F2F5FA 0%, #E5EAF5 8px, #CFD7EB 8px, #ECEEFC 100%) !important;
  box-shadow: inset 1px 0 0 #F6FAFF, inset -1px 0 0 #F6FAFF, inset 0 1px 0 #F6FAFF !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #9196A2 !important;
  border-bottom: 0 !important;
  margin-inline-end: -1px !important;
}
.tabbrowser-tab:not([visuallyselected]) {
  z-index: 0 !important;
}
.tabbrowser-tab:not([visuallyselected]) .tab-background {
  margin-block: 2px !important;
}
.tabbrowser-tab:not([visuallyselected]):hover .tab-background {
  background-image: linear-gradient(to bottom, #EDF3FC 0%, #C6DDF7 8px, #99C6EE 8px, #B0D3F0 75%, #D9E9F9 100%) !important;
}
.tabbrowser-tab:not([visuallyselected]) .tab-content {
  padding-block-start: 1px !important;
}
.tabbrowser-tab[visuallyselected] {
  z-index: 1 !important;
}
.tabbrowser-tab[visuallyselected] .tab-background {
  background-image: linear-gradient(to bottom, #FCFDFD 0%, #E8F5FC 9px, #CFE7FA 9px, #B9D1FA 100%) !important;
  border-block-end: 0 !important;
  position: relative !important;
}
.tabbrowser-tab[visuallyselected] .tab-background::before, .tabbrowser-tab[visuallyselected] .tab-background::after {
  content: "" !important;
  display: inline-block !important;
  width: 4px !important;
  height: 4px !important;
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/tab-bottom-left-corner.png") !important;
  position: absolute !important;
  bottom: 0 !important;
  left: -3px !important;
  position: absolute !important;
}
.tabbrowser-tab[visuallyselected] .tab-background::after {
  left: unset !important;
  right: -3px !important;
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/tab-bottom-right-corner.png") !important;
}
.tabbrowser-tab .tab-label-container {
  height: unset !important;
  padding-block-end: 2px !important;
}
.tabbrowser-tab .tab-close-button {
  width: 17px !important;
  height: 16px !important;
  border-radius: 0 !important;
  list-style-image: none !important;
  padding: 0 !important;
  background-color: transparent !important;
  background-image: url("chrome://rinfox/content/images/styles/ie7/vista/tab-close.png") !important;
  margin-inline-end: -1px !important;
}
.tabbrowser-tab .tab-close-button:not([selected]) {
  visibility: collapse !important;
}
.tabbrowser-tab .tab-close-button:hover {
  background-position-x: -17px !important;
}
.tabbrowser-tab .tab-close-button:hover:active {
  background-position-x: -34px !important;
}

#tabs-newtab-button {
  min-width: 30px !important;
  border-radius: 0 !important;
  margin-block: 2px !important;
  outline: 0 !important;
  background-image: linear-gradient(to bottom, #F2F5FA 0%, #E5EAF5 8px, #CFD7EB 8px, #ECEEFC 100%) !important;
  box-shadow: inset 1px 0 0 #F6FAFF, inset -1px 0 0 #F6FAFF, inset 0 1px 0 #F6FAFF !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #9196A2 !important;
  border-bottom: 0 !important;
  margin-inline-end: -1px !important;
  list-style-image: none !important;
}
#tabs-newtab-button:hover {
  background-image: linear-gradient(to bottom, #EDF3FC 0%, #C6DDF7 8px, #99C6EE 8px, #B0D3F0 75%, #D9E9F9 100%) !important;
  list-style-image: url("chrome://rinfox/content/images/styles/ie7/vista/new.ico") !important;
}
#tabs-newtab-button .toolbarbutton-icon {
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  width: 16px !important;
  height: 16px !important;
  outline: 0 !important;
  box-shadow: none !important;
}

/* ::::: Internet Explorer 8 ::::: */

/*# sourceMappingURL=rinfox.css.map */
